.audio-element {
    display: none;
}

.audio-container__card {
    position: relative;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.audio-box__button {
    position: absolute;
    width: 50%;
    text-align: center;
    margin: auto;
    top: 40%;
    left: 25%;
}